.src-only:not(:focus) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

@supports (touch-action:none) {
  .notouch {
    touch-action: none;
  }
}

.noevent {
  @include pointerEv;
  @include userSelect;
  -webkit-tap-highlight-color: transparent;
}

@supports (touch-action:auto) {
  .alltouch {
    touch-action: auto;
  }
}

.allevent {
  @include pointerEv(all);
  @include userSelect(all);
}


.bbs:focus-visible {
  box-shadow: 0 0 0 2px rgba(0, 63, 236, 0.75); /* override Focus-Shadow */
}