
.a-opacity {
  @include opacity;
}

@-webkit-keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}
@-moz-keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}
@-o-keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}



@-webkit-keyframes rotate-animate {
  from {
    @include transfRotate;
  }
  to {
    @include transfRotate(-360deg);
  }
}
@-moz-keyframes rotate-animate {
  from {
    @include transfRotate;
  }
  to {
    @include transfRotate(-360deg);
  }
}
@-o-keyframes rotate-animate {
  from {
    @include transfRotate;
  }
  to {
    @include transfRotate(-360deg);
  }
}
@keyframes rotate-animate {
  from {
    @include transfRotate;
  }
  to {
    @include transfRotate(-360deg);
  }
}

.animated35s {
  -webkit-animation: 0.35s ease-in-out .1s;
  -moz-animation: 0.35s ease-in-out .1s;
  -o-animation: 0.35s ease-in-out .1s;
  animation: 0.35s ease-in-out .1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fade-notification {
  -webkit-animation-name: fadeInTop;
  -moz-animation-name: fadeInTop;
  -o-animation-name: fadeInTop;
  animation-name: fadeInTop;

  @media(min-width:320px) {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
}


.fit-menu-t28 {
  -webkit-animation-name: fadeInTopMenu;
  -moz-animation-name: fadeInTopMenu;
  -o-animation-name: fadeInTopMenu;
  animation-name: fadeInTopMenu;
}

@-webkit-keyframes fadeInRight {
  0% {
    @include opacity;
    left: 10rem;
  }
  100% {
    @include opacity(1);
    left: .5rem;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    @include opacity;
    left: 10rem;
  }
  100% {
    @include opacity(1);
    left: .5rem;
  }
}
@-o-keyframes fadeInRight {
  0% {
    @include opacity;
    left: 10rem;
  }
  100% {
    @include opacity(1);
    left: .5rem;
  }
}
@keyframes fadeInRight {
  0% {
    @include opacity;
    left: 10rem;
  }
  100% {
    @include opacity(1);
    left: .5rem;
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    @include opacity;
    top: -10rem;
  }
  100% {
    @include opacity(1);
    top: .5rem;
  }
}
@-moz-keyframes fadeInTop {
  0% {
    @include opacity;
    top: -10rem;
  }
  100% {
    @include opacity(1);
    top: .5rem;
  }
}
@-o-keyframes fadeInTop {
  0% {
    @include opacity;
    top: -10rem;
  }
  100% {
    @include opacity(1);
    top: .5rem;
  }
}
@keyframes fadeInTop {
  0% {
    @include opacity;
    top: -10rem;
  }
  100% {
    @include opacity(1);
    top: .5rem;
  }
}



// fadeInTopMenu
$fadeInTopMenu: 28px;
$fITMcalc: $fadeInTopMenu - 6px;
@-webkit-keyframes fadeInTopMenu {
  0% {
    @include opacity;
    top: $fITMcalc;
  }
  100% {
    @include opacity(1);
    top: $fadeInTopMenu;
  }
}
@-moz-keyframes fadeInTopMenu {
  0% {
    @include opacity;
    top: $fITMcalc;
  }
  100% {
    @include opacity(1);
    top: $fadeInTopMenu;
  }
}
@-o-keyframes fadeInTopMenu {
  0% {
    @include opacity;
    top: $fITMcalc;
  }
  100% {
    @include opacity(1);
    top: $fadeInTopMenu;
  }
}
@keyframes fadeInTopMenu {
  0% {
    @include opacity;
    top: $fITMcalc;
  }
  100% {
    @include opacity(1);
    top: $fadeInTopMenu;
  }
}


// Loops

@for $i from 1 through 5 {
  
  .a#{$i}5s {
    -webkit-animation: .1 * $i + .05s ease-in-out;
    -moz-animation: .1 * $i + .05s ease-in-out;
    -o-animation: .1 * $i + .05s ease-in-out;
    animation: .1 * $i + .05s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .a15sd#{$i}ms {
    -webkit-animation: 0.15s ease-in-out .1s * $i;
    -moz-animation: 0.15s ease-in-out .1s * $i;
    -o-animation: 0.15s ease-in-out .1s * $i;
    animation: 0.15s ease-in-out .1s * $i;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  // fade in right ... rem
  .fir-#{$i}r {
    -webkit-animation-name: fadeInRight#{$i}rem;
    -moz-animation-name: fadeInRight#{$i}rem;
    -o-animation-name: fadeInRight#{$i}rem;
    animation-name: fadeInRight#{$i}rem;
  }

  @-webkit-keyframes fadeInRight#{$i}rem {
    0% {
      @include opacity;
      left: #{$i}rem;
    }
    100% {
      @include opacity(1);
      left: 0;
    }
  }
  @-moz-keyframes fadeInRight#{$i}rem {
    0% {
      @include opacity;
      left: #{$i}rem;
    }
    100% {
      @include opacity(1);
      left: 0;
    }
  }
  @-o-keyframes fadeInRight#{$i}rem {
    0% {
      @include opacity;
      left: #{$i}rem;
    }
    100% {
      @include opacity(1);
      left: 0;
    }
  }
  @keyframes fadeInRight#{$i}rem {
    0% {
      @include opacity;
      left: #{$i}rem;
    }
    100% {
      @include opacity(1);
      left: 0;
    }
  }

  // fade in top ... rem
  .fit-#{$i}r {
    -webkit-animation-name: fadeInTop#{$i}rem;
    -moz-animation-name: fadeInTop#{$i}rem;
    -o-animation-name: fadeInTop#{$i}rem;
    animation-name: fadeInTop#{$i}rem;
  }

  @-webkit-keyframes fadeInTop#{$i}rem {
    0% {
      @include opacity;
      top: #{$i}rem;
    }
    100% {
      @include opacity(1);
      top: 0;
    }
  }
  @-moz-keyframes fadeInTop#{$i}rem {
    0% {
      @include opacity;
      top: #{$i}rem;
    }
    100% {
      @include opacity(1);
      top: 0;
    }
  }
  @-o-keyframes fadeInTop#{$i}rem {
    0% {
      @include opacity;
      top: #{$i}rem;
    }
    100% {
      @include opacity(1);
      top: 0;
    }
  }
  @keyframes fadeInTop#{$i}rem {
    0% {
      @include opacity;
      top: #{$i}rem;
    }
    100% {
      @include opacity(1);
      top: 0;
    }
  }

  // fade in bottom ... rem
  .fib-#{$i}r {
    -webkit-animation-name: fadeInBottom#{$i}rem;
    -moz-animation-name: fadeInBottom#{$i}rem;
    -o-animation-name: fadeInBottom#{$i}rem;
    animation-name: fadeInBottom#{$i}rem;
  }

  @-webkit-keyframes fadeInBottom#{$i}rem {
    0% {
      @include opacity;
      bottom: #{$i}rem;
    }
    100% {
      @include opacity(1);
      bottom: 0;
    }
  }
  @-moz-keyframes fadeInBottom#{$i}rem {
    0% {
      @include opacity;
      bottom: #{$i}rem;
    }
    100% {
      @include opacity(1);
      bottom: 0;
    }
  }
  @-o-keyframes fadeInBottom#{$i}rem {
    0% {
      @include opacity;
      bottom: #{$i}rem;
    }
    100% {
      @include opacity(1);
      bottom: 0;
    }
  }
  @keyframes fadeInBottom#{$i}rem {
    0% {
      @include opacity;
      bottom: #{$i}rem;
    }
    100% {
      @include opacity(1);
      bottom: 0;
    }
  }
}
