$link-grey-text: #797979;

$link-grey: #494949;

$link-hover: #000000;

$link-weight: 600;

$app-radius: .5rem;

$app-clr: #9306fe;

$swiper-main-clr: $app-clr;

$c-light-green: rgb(112,234,180);

$app-grey: #C8CCD4;