$nf-back: rgb(255, 246, 246);
$nf-border: rgb(255, 203, 203);
$nf-icon-back: rgb(243, 117, 117);
$nf-txt: rgb(221, 88, 88);

$danger-err: rgb(209, 31, 70);

$nf-succ: rgb(62, 207, 42);

$nf-warn: rgb(241, 201, 22);

$close: #6c757d;